/*
1. Give the paragraph a solid purple border
2. Have the li elements stack next to each other and not on top of each (hint: inline vs block vs inline-block)
3. Make each li element have a solid blue border
4. Make the span display as a block and not inline
5. Have all elements have a padding of .8em
6. Highlight the span tags yellow
*/
p {border: solid purple;}

li {
   display:inline;
   border:solid blue; 
}
.block {
   display:block;
   background-color: yellowgreen;
   
}
.highlight {
   background-color: yellow;
}

body, p, ul, li, span {
   padding: .8em;
}
p > span {

}
span {
 display:block;
 background-color: yellowgreen;
}